			body{
				background-image: url(../img/20131230161427_Ye4QQ.jpeg);		
				background-size: 100%;
				background-repeat: no-repeat;
			}
			#waimiande{
				width: 650px;
				height: 200px;
				/*改变左右上下,图片方块移动*/
				margin: 150px 360px;
				position: relative;
			}
			#limiande{
				width: 200px;
				height: 200px;
				margin: 0 auto;
				transform-style: preserve-3d;
				transform: rotateX(-60deg) rotateY(-60deg);
			}
			.bif{
				position: absolute;
				width: 200px;
				height: 200px;
				opacity: 0.8;
				transition:all .4s;
			}
			.bif img{
				width: 200px;
				height: 200px;
			}
			.sif{
				display: block;
				height: 100px;
				width: 100px;
				position: absolute;
				top: 50px;
				left: 50px;
			}
			.sif img{
				width: 100px;
				height: 100px;
			}